body {
    font-family: Arial, sans-serif;
    background-image: url('C:/Users/mairo/OneDrive/Documents/proyecto del sena/Firefly parqueaderos spy 18698.jpg');
    background-size: cover;
    background-position: center;
}
